/* utility 
colori:
bianco: #ffffff
blu: 255ee9
nero: #23272a
lilla: #8ea1e1
viola: #7289da
grigio: #f6f6f6

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
    min-height: 100px;
}
.flexbox-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
/* general */
body{
    font-family: helvetica, arial, sans-serif;
    background-color: #ffffff;
}
footer{
    background-color: #23272a;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.btn{
    display: block;
    background-color: #ffffff;
    color: #23272a;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
}
li{
    list-style: none;
}
/* header */
/* navbar */
header{
    background-color: #255ee9;
}
header nav{
    padding: 20px 0;
    background-color: #255ee9;
}
header nav ul{
    min-width: 500px;
}
li > a{
    color: #ffffff;
    text-decoration: none;
}
/* fine navbar */
/* hero */
.hero-image{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
    height: 650px;
}
.inner-hero{
    text-align: center;
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.inner-hero p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.625;
}
/* fine hero */
h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 95%;
}
/* bottoni */
.btn-large-dark:hover, .btn-large-white:hover, .btn:hover, .btn-large-lilla:hover, .btn-lilla:hover  { 
    opacity: 0.9;     
    box-shadow: 1px 3px 15px 0px #1c1c1c;    
    cursor: pointer; 
}
.btn-large-white:hover, .btn:hover{
    color:#7289da;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn-large-white{
    background-color: #ffffff;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-right: 24px;
    margin-top: 24px;
    color: black;
    text-decoration: none;
}
.btn-large-dark{
    background-color: #23272a;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-top: 24px;
    color: #ffffff;
    text-decoration: none;
}
i{
    padding-right: 10px;
}
/* fine bottoni */
/* main */
.wave{
    background-color: #f6f6f6;
}
.wave-1hkxOo{
    color: #f6f6f6;
    display: block;
}
.wave-1hkxOo1{
    color: #f6f6f6;
    transform: rotate(180deg)
}
/* primo modulo e terzo modulo*/
.flexbox-sx{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 100px 40px;
}

.col-right{
    padding-top: 30px;
    margin-left: 100px;
}
.col-right p{
    font-size: 17px;
    line-height: 1.625;
    padding-top: 20px;
}
/* fine primo modulo */
/* secondo modulo */
.flexbox-dx{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 100px 40px;
}
h2{
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
}
.col-left{
    padding-top: 30px;
    margin-right: 100px;
}
.col-left p{
    font-size: 17px;
    line-height: 1.625;
    padding-top: 20px;
}
/* fine secondo modulo */
/* inizio quarto modulo */
.flexbox{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 100px 40px 50px 40px;
}
.p{ 
    padding-top: 20px;
    text-align: center;
    max-width: 800px;
}
.item4{
    width: 100%;
}
/* quinto modulo */
.flexbox-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
}
.sfondo{
    height: 45px;
    display: flex;
    justify-content: center;
    
}
.btn-large-lilla{
    background-color: #5865f2;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-right: 24px;
    margin-top: 24px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
    width: auto;
}
/* fine quinto modulo */
/* footer */
footer .container{
    padding-top: 80px;
    padding-bottom: 64px;
}
.flexbox-footer-col{
    display: flex;
    flex-direction: column;
}
.flexbox-footer-row{
    display: flex;
    flex-direction: row;
}
.flexbox-foot{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}
.flexbox-foot-dx{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}
/* infobox */
.infobox{
    margin-right: 260px;
}
.title-footer{
    max-width: 300px;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    color: #7289da;
    padding-bottom: 20px;
}
.lingua{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#flag{
    width: 24px;
    height: 16px;
    margin-right: 8px;
}
.lingua p {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
.lingua i{
    color: #ffffff;
    font-size: 9px;
    margin-left: 5px;
}
.social i{
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    margin-right: 10px;
}
/* link utili */
h4{
    color: #7289da;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}
.link a{
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 10px;
}
.link-utili{
    min-width: 200px;
}
hr{
    color: #7289da;
    max-width: 1170px;
    margin: 0 auto;
    height: 1px;
    border-width:0;
    background-color:#7289da;
}
.logo{
    padding-top: 35px;
    padding-bottom: 50px;
    max-width: 1170px;
    margin: 0 auto;
}
.btn-lilla{
    display: block;
    background-color: #7289da;
    color: #23272a;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
    color: #ffffff;
}
/* page scarica */
/* navbar */
.container2{
    max-width: 1280px;
    margin: 0 auto;
}
.sfondo-scuro{
    background-color: #23272a;
    min-height: 700px;
}
.sfondo-scuro nav{
    padding: 20px 0;
    background-color: #23272a;
}
.inner-hero2{
    width: 750px;
    color: white;
}
.inner-hero2 p{
    margin-top: 40px;
    font-size: 15px;
    line-height: 1.625;
}
.pc{
    width: 700px;
    height: 400px;
    /* padding-left: 20px; */
}
.flexbox2{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
/* fine navbar */
/* card */
.container-card{
    max-width: 1170px;
    margin: 70px auto;
}
.card{
    width: auto;
    max-height: 600px;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 56px;
    margin: 10px;
    overflow: hidden;
}
.card2{
    background-color: #f6f6f6;
    width: 512px;
    padding: 46px 40px;
    margin: 10px;
    line-height: 2em;
}

.disp{
    width: 400px;
    margin-top: 40px;
}
.flexbox-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.flexbox-bot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flexbox-bot-dx{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flexbox-sx2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 50px 40px;
}
